.aboutMainContainer {
    margin-top: 8rem;
    display: flex;
    width: 100%;
    height: 20rem;
    padding-inline: 8rem;
    align-items: center;
    gap: 2rem;
}

.aboutImage {
    height: 80%;
    cursor: pointer;
    transition: 0.4s ease;
}

.aboutImage:hover {
    filter: brightness(120%);
}

.textDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.textDiv strong {
    color: var(--accent);
}

.textDiv h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

.textDiv p {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}

.portfolioLinkButton {
    position: relative;
    width: 18rem;
    height: 3rem;
    font-size: 1rem;
    background-color: var(--textBlack);
    color: var(--textWhite) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    z-index: 1;
}

.portfolioLinkButton::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent);
    transition: all 0.3s ease;
}

.portfolioLinkButton:hover::before {
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 1024px) {
    .aboutMainContainer {
        height: fit-content;
    }

    .aboutImage {
        height: 16rem;
    }

    .textDiv {
        justify-content: center;
        gap: 1rem;
    }
}


@media (max-width:768px) {
    .aboutMainContainer {
        margin-top: 4rem;
    }

    .textDiv {
        padding-bottom: 0;
    }

    .aboutImage {
        height: 12rem;
    }
}

@media (max-width: 624px) {
    .aboutMainContainer {
        flex-direction: column;
        height: fit-content;
    }

    .aboutImage {
        height: 12rem;
    }

    .portfolioLinkButton {
        margin-top: 2rem;
    }
}


@media (max-width: 1024px) {
    .aboutMainContainer {
        height: fit-content;
    }

    .aboutImage {
        height: 16rem;
    }

    .textDiv {
        justify-content: center;
        gap: 1rem;
    }
}


@media (max-width:768px) {
    .aboutMainContainer {
        margin-top: 4rem;
    }

    .textDiv {
        padding-bottom: 0;
    }

    .aboutImage {
        height: 12rem;
    }
}

@media (max-width: 624px) {
    .aboutMainContainer {
        flex-direction: column;
        height: fit-content;
    }

    .aboutImage {
        height: 12rem;
    }

    .portfolioLinkButton {
        margin-top: 2rem;
    }

    .textDiv p {
        text-align: left;
    }
}


@media (max-width:375px) {
    .aboutMainContainer {
        padding-inline: 4rem;
    }

    .textDiv h2 {
        text-align: center;
    }

}