.processMainContainer {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-inline: 8rem;
    margin-bottom: 8rem;
}

.visionImage {
    cursor: pointer;
    transition: 0.4s ease;
}

.processMainContainer img:hover {
    filter: brightness(120%);
}

.firstStepContainer,
.secondStepContainer,
.thirdStepContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.processMainContainer h2 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textContainer ul {
    display: flex;
    gap: 1rem;
}

.firstStepContainer img {
    width: 70%;
}

.diagramContainer {
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    transition: 0.4s ease;
    cursor: pointer;
}

.diagramImage {
    position: absolute;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
}

.diagramContainer:first-child {
    z-index: 5;
}

.diagramContainer:hover> :first-child {
    left: 20%;
}

.diagramContainer:hover> :last-child {
    left: 80%;
}

strong {
    color: var(--accent);
}

.imageSliderMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.sliderLi {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: grab;
}

.sliderLi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.sliderImage1 {
    position: relative;
}

.sliderImage2 {
    position: absolute;
    top: 0;
    left: 0;
}

.imageSliderMainContainer input {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: grab;
}

/* Make the cursor reflect dragging on both the li and the input */
.sliderLi:active,
.imageSliderMainContainer input:active {
    cursor: grabbing;
}

.horizontalLine {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: white;
    left: 50%;
}

.iconContainer {
    position: absolute;
    width: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    transform: translateX(-50%);
    color: var(--textWhite);
}

.renderStepsDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.renderStep {
    width: 20%;
    height: 3rem;
    border: 1px solid var(--accent);
    color: var(--textBlack);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .processMainContainer {
        margin-top: 8rem;
    }

    .iconContainer{
        font-size: 2rem;
        width: 5rem;
    }

    .horizontalLine{
        width: 3px;
    }
}