.projectMainContainer {
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10rem;
}

.mainSlider {
    margin-top: 4rem;
    height: 100%;
    padding: 2rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.slide {
    padding-inline: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    outline: none;
    border: none;
}

.slide img {
    height: calc(100vh - 20rem);
    object-fit: cover;
    cursor: grab;
}

.slide h1 {
    margin-bottom: 1rem;
}

.slide p {
    font-weight: 500;
    color: var(--textGrey);
    text-align: end;
}

.slideText {
    font-weight: 700 !important;
    color: var(--textBlack) !important;
    margin-bottom: 0.75rem;
}

.slide ul p {
    list-style: none;
    margin-bottom: 0.25rem;
}

.projectMainContainer footer {
    position: absolute;
    bottom: 0;
}

.sliderRange {
    position: absolute;
    height: 100%;
    width: 100%;
    rotate: 90deg;
}

@media (max-width: 768px) {
    .mainSlider {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .slide {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .slide img {
        height: fit-content;
        width: 100%;
    }

    .slide p {
        text-align: start;
    }

}